@using _0607FileUploading.Models
@model ViewModel
<link href="~/Content/file-upload.css" rel="stylesheet" />
<link href="~/Content/ImagesCss.css" rel="stylesheet" />
<div style="margin-top: 10px;">
    @if (Model.User != null)
    {
        <h3>Welcome @User.Identity.Name</h3> <a href="/home/logout" class="btn btn-primary">Log Out</a>
    }
    else
    {
        <button id="registerBtn" class="btn btn-primary">Register</button>
        <button id="loginBtn" class="btn btn-success">Login</button>
    }
</div>
@*ALERTS*@
@if (Model.Message != null)
{
    <div class="alert alert-success fade in" style="margin-top:18px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
        <strong>Success!</strong> @Model.Message
    </div>
}
@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger fade in" style="margin-top:18px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
        <strong>Error!</strong> @Model.ErrorMessage
    </div>
}

    @*FILE UPLOAD*@
    <form method="POST" action="/home/submit" enctype="multipart/form-data">
        <div class="jumbotron col-md-offset-3 form-control" style="padding-bottom: 60px; padding-top: 10px; align-content: center; width: 500px; margin-top: 30px;">
            <input style="margin-left: 40px;" id="uploadFile" disabled="disabled" />
            <div style="margin-left: 30px;" class="fileUpload btn btn-success">
                <span>Choose File</span>
                <input id="uploadInput" type="file" class="upload" name="image" />
            </div>
        </div>
        <button style="margin-left:390px" class="btn btn-primary col-md-3">Upload File</button>
    </form>
    <br>

    @*RECENT PICTURES*@
    <h3>Recently Added</h3>
    <div class="jumbotron">
        <div class="row">
            @foreach (var pic in Model.Top5Recent)
            {
                <div class="img">
                    <a class="btn btn-success" href="/home/viewimage?imageid=@pic.Id">
                        <img src="~/Images/@pic.ImageId" width="300" height="200">
                    </a>
                    <div class="desc">Added On @pic.Date</div>
                </div>
            }
        </div>
    </div>

    @*MOST VIEWED*@
    <h3>Most Viewed</h3>
    <div class="jumbotron">
        <div class="row">
            @foreach (var pic in Model.Top5Viewed)
            {
                <div class="img">
                    <a class="btn btn-warning" href="/home/viewimage?imageid=@pic.Id">
                        <img src="~/Images/@pic.ImageId" width="300" height="200">
                    </a>
                    <div class="desc">Added On @pic.Date</div>
                </div>
            }
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalTitle" class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form id="modalForm" method="post">
                        <div class="jumbotron">
                            <label id="userlabel">Username</label>
                            <input type="email" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
                            <br />
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                            <br />
                        </div>
                        <button id="signinModalBtn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        <button id="registerModalBtn" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
